Notes:
  - Tract scenarios for HGAC
  - Settings ahead of ModelStages apply to all stages

StartFrom    : "stage-pop-base"
BaseScenario : "stage-pop-future"

ModelStages:
   "1a":
     Dir          : 1a
     Scenario     : 1a
     Description  : 1a - Storm Damage Population Reduction
   "1b":
     Dir          : 1b
     Scenario     : 1b
     Description  : 1b - New Employment Centers 
   "1c":
     Dir          : 1c
     Scenario     : 1c
     Description  : 1c - Simultaneous Household + Employment Change
   "2a":
     Dir          : 2a
     Scenario     : 2a
     Description  : 2a - Lower Population Growth than Forecast
   "2b":
     Dir          : 2b
     Scenario     : 2b
     Description  : 2b - Select Employment Center Growth
   "2c":
     Dir          : 2c
     Scenario     : 2c
     Description  : 2c - Simultaneous Lower Population Growth + Employment Center Growth
   "3":
     Dir          : 3
     Scenario     : 3
     Description  : 3 - Increased Telecommuting
   "4a":
     Dir          : 4a
     Scenario     : 4a
     Description  : 4a - Change in Household Size, More children
   "4b":
     Dir          : 4b
     Scenario     : 4b
     Description  : 4b - Change in Household Size, Aging in place
