Notes:
- VisionEval.cnf for VERSPM with "horizontal" population synthesis stage (and "vertical" years)
- Model is for TAZ Bzones which have been modified to exclude any zero population TAZ
- Model Structural Parameters: ScriptsDir, InputDir, ParamDir, Seed
- Model Description: Model, Region, State, ModelStages
- See individual ModelStages for scenario descriptions

# Model Structural Parameters
ScriptsDir  : scripts
InputDir    : inputs # model_parameters.json is located here
    # Full set of model inputs is included in model base directory
    # InputPath in stages will look there first
    # Stages include just the minimal input data they need to run
ParamDir    : defs # default parameter location
Seed        : 1  # Same seed used for all scenarios

# Model description
Model       : VERSPM 3.0 ("Horizontal" stages)
Region      : HGAC
State       : TX

ModelStages : # specify explicitly to avoid processing base scenario
    "stage-pop-synth":
      ModelScript    : run_popsyn.R
      Scenario       : HGAC VERSPM Population
      Description    : Pre-build Population for Base (2019) and Future (2045)
      BaseYear       : 2045
      Years          : [ 2019, 2045 ]
      Reportable: false

    "stage-pop-base":
      ModelScript : run_scenario.R
      Scenario    : HGAC VERSPM Base Year
      Description : Base Year Build (using pre-built population)
      BaseYear    : 2019
      Years       : [ 2019 ]
      StartFrom   : stage-pop-synth
      Reportable: true

    "stage-pop-future":
      ModelScript : run_scenario.R
      Scenario    : HGAC VERSPM Future Year
      Description : Future Year Build (using pre-built population)
      BaseYear    : 2019
      Years       : [ 2045 ]
      StartFrom   : stage-pop-base # Certain values are needed from BaseYear
      Reportable: true

# See "scenarios" subdirectory for scenarios pivoting from "stage-pop-year"
