Notes:
- Descriptive elements of Base Year stage

# Scenario description
ModelScript : run_scenario.R
Scenario    : HGAC VERSPM Base Year
Description : Base Year Build (using pre-built population)
BaseYear    : 2019
Years       : [ 2019 ]
StartFrom   : stage-pop-synth
